
<nav>
  <h1>Angular Lazy Loading Example</h1>
  <a routerLink="contracts">Contracts</a>
  <a routerLink="claims">Claims</a>
  <a routerLink="customers">Customers</a>
</nav>

<p>
  Lazy Loading is a superpower in Angular whenever you have many modules because it can increase performance drastically. <br>
  Instead of loading each and every module at startup (which can take quite a while), we split the application into features funtionalities and load them when needed.
  <br>
  <br> 
</p>

<router-outlet></router-outlet>